* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #F55B64;
    --cor-secundaria: #C2373F;
    --neutro: #F9F9F9;
    --preto: #131730;
    --fonte-titulo: "Krona One", sans-serif;
    --fonte-texto: 'Numans', sans-serif;
    --degrade-azul: linear-gradient(180deg, #000000 0%, #26327F 100%);
}

body {
    background: var(--degrade-azul);
    background-repeat: no-repeat;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    background-color: var(--neutro);
    margin-top: 64px;

    display: flex;
    flex-direction: column;
    gap: 24px;

    width: 370px;
    padding: 50px 40px;

    align-items: center;
    border-radius: 16px;
}

h2 {
    font-family: var(--fonte-titulo);
    color: var(--cor-primaria);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

hr {
    border: none;
    border-bottom: 3px dotted var(--cor-primaria);
    margin-bottom: 24px;
}

p {
    font-family: var(--fonte-texto);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.input-item {
    display: block;
    padding: 12px 16px;
    border-radius: 24px;
    border: 1px solid var(--preto);
    width: 307px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    font-family: var(--fonte-texto);
}

.input-item::placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 19px;
}

.button-item {
    padding: 12px 16px;
    border-radius: 24px;
    background-color: var(--cor-primaria);
    color: var(--neutro);
    font-family: var(--fonte-texto);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    border: none;
    width: 50%;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.lista-item-container {
    display: flex;
    gap: 8px;
}
x
ul {
    list-style-type: none;
}

.input-checkbox {
    display: none;
}

.checkbox-customizado {
    width: 20px;
    height: 20px;
    background-color: var(--neutro);
    border: 1px solid var(--preto);
    cursor: pointer;
    border-radius: 4px;
}

.checkbox-item{
    cursor: pointer
}

.checked {
    background-color: var(--preto);
    position: relative;
}

.checkbox-customizado.checked::after {
    content: "";
    position: absolute;
    left: 30%;
    top: -10%;
    width: 5px;
    height: 14px;

    border-top: 2px solid var(--neutro);
    border-left: 2px solid var(--neutro);

    transform: rotate(-140deg);
}

.texto-data {
    font-size: 12px;
    line-height: 20px;
}

.item-lista-button {
    border: none;
    background-color: transparent;
}

.container-lista {
    width: 100%;
}

.lista-item-container{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 4px;
}

.botao-deletar{
    width: 20px;
    height: 20px;
    border: none;
    background: url("./img/delete.svg") no-repeat center/contain;
    cursor: pointer;
    margin-left: auto;
}

.botao-editar{
    width: 20px;
    height: 20px;
    border: none;
    background: url("./img/edit.svg") no-repeat center/contain;
    cursor: pointer;
}

.modal {
    font-family: var(--fonte-texto);
    display: none; 
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#novoNome {
    padding: 10px;
    border-radius: 24px;
    border: 1px solid var(--preto);
}

@media (max-width: 400px) {
    body{
        margin: 0;
        padding: 0;
    }
    .container {
        margin: 10px;
        padding: 15px;
    }

    input, button {
        width: 100%;
    }

    .principal {
        width: 90%;
        margin: 2em auto;
    }
}
